
{% extends 'TCGPAGE/base.html' %} 
{% load static%}

{% block head %}
{% static 'funciones.js' %}
{% endblock %}

{% block content %}

    <h1 id="TP"><img   src="https://images.vexels.com/media/users/3/244356/isolated/preview/9c0eb60d9b8162a791dfa9d468c697dc-garaje-organizacion-herramientas-vinilo-14.png" alt="Logo mitos y leyendas tcg"></h1>
        <p id="s1">Aqui Encontraras Diferentes Herramientas para cualquier trabajo que estes dispuesto a hacer</p>

        <h2 id="s1" ><br><br><br><br>Productos<br><br><br><br></h2>

        <section id="productosMYL">

        </section>

   


        <h2 id="s1">Aburrido?</h2>
        <P id="s1">Aqui tienes algunos chistes (Solo en ingles por el momento)</P>
        <section id="chistoso">
          <div id="s1" class="wrapper">
          
            <p id="joke"></p>
            <button id="btn" type="button" class="btn btn-primary">Bromita</button>
            
        </div>
  
        </section>


      <script src="funciones2.js"></script>
      <p id="pad"></p>
    <div class="container-fluid"></div>
    {% endblock %}

  