{% extends 'TCGPAGE/base.html' %} 
{% load static%}

{% block head %}

{% endblock %}

{% block content %}
        
    
    <h1 id="TP"><img id="logo1" src="https://png.pngtree.com/png-clipart/20221215/original/pngtree-building-materials-png-image_8745377.png" alt=""></h1>

    <p id="s1">Aqui tenemos diferentes tipos de materiales para utilizar en tus construcciones</p>

  
    
        <h2 id="s1" ><br>Productos Proximos <br><br><br><br></h2>
        
      <section id="productosPOKE">

      </section>
      



    <p id="s4">A continuacion una serie de videos que enseñan a jugar,<br> los creadores de estos videos son los chicos de <a href="https://www.youtube.com/channel/UCcqvmc1uRblenC_-z2pizfA" target="_blank">Metapod Para Presidente</a>.</p>
    
    <video id="v1" controls src="https://files.catbox.moe/hoprf2.mp4"></video>
    
    <section id="chistoso">
      <div id="s1" class="wrapper">
      
        <p id="joke"></p>
        <button id="btn" type="button" class="btn btn-primary">Bromita</button>
        
    </div>

    </section>


 
{% endblock %}