@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Serif";
}

body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/539/814/non_2x/light-purple-background-with-rectangles-colorful-illustration-with-gradient-rectangles-and-squares-pattern-for-websites-landing-pages-vector.jpg') ;
    background-attachment: fixed;
    color:black;
    background-size:cover;
    
    
}

#l1{
    margin: 250px;
}

#Titulo{
    font-weight: bolder;
    color: white;
    margin-top: 120px;
    display: flex;
    justify-content: center;

}

nav > h1{
    display: flex;
    justify-content: center;
    color: white;
}

#tabla1{
    color: white;
    font-size: 1.2rem;
    width: 90%;    

}


#a1{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
    
}

#a2{
    

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}

#t1{
    

    font-size: 1.4rem;
    color: white;
    margin: 270px;
    display: flex;
    justify-content: center;
}

#t2{

    font-size: 1.4rem;
    color: white;
    margin: 270px;
    display: flex;
    justify-content: center;
}

#listaCartas{
    font-size: 1.5rem;
    color: white;
    margin-left: 20%;

}

#carouselExampleAutoplaying{
    width: 50%;
    margin-bottom: 10%;
    margin-left: 22%;
}

#TP{
    font-weight: bold;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    width: 60%;
    display: flex;
    justify-content: center;
    color: white;}

#s1{
    margin-top: 2%;
    font-size: 1.4rem;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    
}
#s2{

    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}
#s3{
    background-color: #6D00AC;
    font-size: 1.4rem;
    color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
}
#s33{
    background-color: #6D00AC;
    font-size: 1.4rem;
    
    margin: 20%;
}
#s4{
    margin-top: 5%;
    font-size: 1.4rem;
    color: white;
    margin-left: 20%;
    
}
#v1{
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 55%;
}
#t11{
    width: 200px;

}
#x1{
    font-size: 1.4rem;
    color: white;
    margin: 250px;
}
#x2{
    font-size: 1.4rem;
    color: white;
    margin: 250px;
}

#carrocompras{
    
    height: 3%;
    width: 3%;
    
}

#cardMYL1{
    margin-top: 40px;
    margin: 250px;
    background-color : #6D00AC;
}
#cardMYL2{
    margin-top: 5%;
    margin-left: 75%;
    background-color: #6D00AC;
   
}

#img1{
    height: 250px;
    width: 250px;
    margin-left: 100px ;
}
#B1{
    display: flex;
    justify-content: center;
    margin-left: 250px;
}

#c1{
    font-size: 1.4rem;
    color: white;
    margin-left: 250px;
    display: flex;
    align-items: center;

}
#e1{
    margin-bottom: 20%;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 1.4rem;
    
    
}
#e2{
    margin-left: 20%;
    font-size: 1.4rem;
}
#logo1{
    width: 60%;
    color: #ffffff;
}
#pad{
    margin-bottom: 40%;
}
#l1{
    color: white;
    font-size: 1.4rem;
}
#g1{
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2%;
}
#z1{
    color: white;
    font-size: 1rem;

}
#logo{
    height: 30px;
    width: 30px;
}

#cartareparar{
    margin-left: 70px;
    height: 161px;
    width: 160px;

}
#field{
    margin-right: 200px;
    margin-left: 50px;
}
#o1{
    color: white;

}
#f1{
    color: black;
}
#msg{
    display: flex;
    justify-content: center;

}
#password{
    margin-left: 120px;

}
#mail{
    margin-left: 50px;
}

table{
    width: 90%;
}

thead{
    color: #ffffff;
    text-align: center;
}

.correct{
    border:3px #239700 solid !important;
    
}
.incorrect{
    border: 3px red solid !important;
}

.texto-error{
    font-size: .9rem;
    color: red;
    text-align: right;
}
#link-barra{
    display: flex;
    justify-content: flex-end;
    width: 20px;
    
    
}

#persoLOL{
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 10%;
    background-color : #6D00AC;
}

#registro, #login{
    color: white;
    width: 40%;
    display: flex;
    row-gap: 5px;
     flex-direction: column;
    margin: 20%;
}

#joke{
    font-size: 1.4rem;
    color: #ffffff;
    margin: 10%;

}

.wrapper{
    width: 40%;
    background-color: #76008d;
    margin-top: 8%;
    margin-left: 30%;
    color: ffffff;
    border-radius: 5px;
}

p{
    font-size: 5%;
    color: #ffffff;
    margin: 10% 0;
}

#btn{
    margin-left: 10%;


    margin-bottom: 10%;
}

#productosMYL{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10%;
    margin: 0px 10%;
    justify-content: space-evenly;
    row-gap: 3vh;
}
#cartasYugi{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10%;
    margin: 0px 10%;
    justify-content: space-evenly;
    row-gap: 3vh;
}
#productosPOKE{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10%;
    margin: 0px 10%;
    justify-content: space-evenly;
    row-gap: 3vh;
}
#productosMTG{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10%;
    margin: 0px 10%;
    justify-content: space-evenly;
    row-gap: 3vh;
}

.producto{
    display: flex;
    flex-direction: column;
    background-color: #6D00AC;
    width: 20%;
    height: 50vh;
    outline: 1px #cdcdcd auto;
    border-radius: 30px;
    box-sizing: content-box;
    padding: 10px;
}

.imagen{
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.nombre{
    font-size: 1.1rem;
    color:#ffffff;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
}

.precio{
    font-size: 1.1rem;
    color: #ffb732;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ae00ff;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #4f0099;
  }
  tr:nth-child(even) {
    background-color: #4f0099;
  }
  tr:hover {
    background-color: #4f0099;
  }