
{% extends 'TCGPAGE/base.html' %} 
{% load static%}

{% block head %}
{% static 'funciones.js' %}
{% endblock %}

{% block content %}

    <h1 id="TP"><img id="logo1"  src="https://9ded3bdc20.clvaw-cdnwnd.com/1805503edceacde8501a39f3d8c718bc/200000058-01cc201cc4/logo_myl_1200x1200.png?ph=9ded3bdc20" alt="Logo mitos y leyendas tcg"></h1>
        <p id="s1">Mitos y Leyendas (abreviado como MyL) es un juego de cartas coleccionables que se comercializó durante casi una década por la extinta editorial chilena Salo. Durante ese tiempo, se convirtió en uno de los TCG más populares de América Latina, con más de veinte ediciones en el mercado y una opción asequible para los jugadores debido a su bajo precio y temática única.<br><br>
            La esencia del juego radica en reunir mitos y leyendas de diversas culturas alrededor del mundo. Los jugadores emprenden un épico viaje a través de diferentes épocas y lugares, desde la mitología egipcia hasta los celtas, Roma, Japón e incluso momentos históricos como la Primera Guerra Mundial, la Revolución Mexicana, la Conquista de América y la propia historia de Chile.<br><br>
            A pesar de la quiebra de Salo en 2010, el juego retomó su actividad en 2014 bajo la compañía Klu!, perteneciente a Fenix Entertainment S.P.A.. Así, Mitos y Leyendas continuó cautivando a los jugadores con su rica variedad de leyendas y su fascinante universo 🃏✨.</p>

        <h2 id="s1" ><br><br><br><br>Productos Proximos <br><br><br><br></h2>

        <section id="productosMYL">

        </section>

        <p id="s4">A continuacion una serie de videos que enseñan a jugar,<br> los creadores de estos videos son los chicos de <a href="https://www.youtube.com/@myloficial" target="_blank">Mitos Y Leyendas</a></p>
    
        <video id="v1" controls src="https://files.catbox.moe/b3g7w8.mp4"></video>
    
        <video id="v1" controls src="https://files.catbox.moe/qf8fce.mp4"></video>
    
        <video id="v1" controls src="https://files.catbox.moe/7626xt.mp4"></video>



        <section id="chistoso">
          <div id="s1" class="wrapper">
          
            <p id="joke"></p>
            <button id="btn" type="button" class="btn btn-primary">Bromita</button>
            
        </div>
  
        </section>


      <script src="funciones2.js"></script>
      <p id="pad"></p>
    <div class="container-fluid"></div>
    {% endblock %}

  