{% extends 'TCGPAGE/base.html' %} 
{% load static%}

{% block head %}
{% static 'funciones.js' %}
{% endblock %}

{% block content %}
        
    
    <h1 id="TP"><img id="logo1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Pokémon_Trading_Card_Game_logo.svg/1280px-Pokémon_Trading_Card_Game_logo.svg.png" alt=""></h1>

    <p id="s1">El Juego de Cartas Coleccionables Pokémon (conocido como JCC Pokémon en español , Pokémon TCG inglés y ポケモンカードゲーム en japonés)
       es un emocionante juego desarrollado por Pokémon y Nintendo. Se lanzó por primera vez en Japón el 20 de octubre de 1996 
       y fue publicado por Media Factory. A lo largo de su historia, ha sido traducido y distribuido por diferentes entidades,
        como Wizards of the Coast y The Pokémon Company.</p>

  
    
        <h2 id="s1" ><br>Productos Proximos <br><br><br><br></h2>
        
      <section id="productosPOKE">

      </section>
      



    <p id="s4">A continuacion una serie de videos que enseñan a jugar,<br> los creadores de estos videos son los chicos de <a href="https://www.youtube.com/channel/UCcqvmc1uRblenC_-z2pizfA" target="_blank">Metapod Para Presidente</a>.</p>
    
    <video id="v1" controls src="https://files.catbox.moe/hoprf2.mp4"></video>
    
    <section id="chistoso">
      <div id="s1" class="wrapper">
      
        <p id="joke"></p>
        <button id="btn" type="button" class="btn btn-primary">Bromita</button>
        
    </div>

    </section>


 
{% endblock %}