{% extends 'TCGPAGE/base.html' %} 
{% load static%}

{% block head %}
{% static 'funciones.js' %}
{% endblock %}

{% block content %}
        
    
    <h1 id="TP"><img id="logo1" src="https://victoryroadtcg.com/cdn/shop/collections/yu_gi_oh__tcg_logo_by_homoco9_ddyvtrd-fullview.png?v=1696453552" alt="logo yugioh tcg"></h1>
    <p id="s1">El Yu-Gi-Oh! Trading Card Game (TCG), abreviado como “TCG”, forma parte del universo de Yu-Gi-Oh! y es fabricado por Konami. Según el Guinness World Records, es el juego de cartas más exitoso de todos los tiempos, con más de 22 mil millones de cartas vendidas hasta agosto de 2009.<br> <br>El TCG se juega en todo el mundo, pero su popularidad es especialmente notable en América del Norte, Europa, América Latina y Australia e japon. 🃏🌎
    </p>
  
  

    

    <h2 id="s1" ><br>Productos Proximos <br><br><br><br></h2>

    <section id="cartasYugi">

    </section>



      <p id="s4">A continuacion unos videos que nos enseñan a jugar Yu-Gi-Oh. <br>Hechos por los chicos de <a href="https://www.youtube.com/@Yu-GiPlayers/featured" target="_blank">Yu-Gi Players</a></p>
    
    <video id="v1" controls src="https://files.catbox.moe/tnp0u3.mp4">Parte 1</video>

    <video id="v1" controls src="https://files.catbox.moe/1gmn20.mp4">Parte 2</video>
    
    <section id="chistoso">
      <div id="s1" class="wrapper">
      
        <p id="joke"></p>
        <button id="btn" type="button" class="btn btn-primary">Bromita</button>
        
    </div>

    </section>



{% endblock %}